@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@mixin large {
	@media screen and (min-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin small {
	@media screen and (max-width: #{$medium-breakpoint}) {
		@content;
	}
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: $body-font-size;
	line-height: 1.7;
	color: $body-text-color;
	background: $background;
}

#skip-to-content {
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;

	&:focus {
		position: fixed;
		top: 10px;
		left: 10px;
		height: auto;
		width: auto;
		background: $all-focus-colour;
		outline: thick solid $all-focus-colour;
	}
}

a {
	color: $body-link-color;

	&:hover {
		text-decoration: none;
		background: $body-link-hover-bg;
		color: $body-link-hover-txt;
	}
}

.btn {
	display: inline-block;
	margin-bottom: 1rem;
	color: $button-txt;
	background-color: $button-bg;
	border-color: $button-border;
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
	outline-offset: 2px;
	box-shadow:  0 0 3px 3px transparent;
	text-decoration: none;

	&:hover {
		color: $button-txt;
		text-decoration: none;
		background-color: $button-hover-bg;
		border-color: rgba(255, 255, 255, 0.3);
	}
	&:focus {
	box-shadow:  0 0 3px 4px $all-focus-colour;
	outline: 0;
	}

	+ .btn {
		margin-left: 1rem;
	}

	@include large {
		padding: 0.75rem 1rem;
	}

	@include medium {
		padding: 0.6rem 0.9rem;
	}

	@include small {
		display: inline-block;
		width: 49%;
		padding: 0.25rem;
		margin-bottom: 0.5rem;
		+ .btn {
			margin-top: 1rem;
			margin-left: 0;
		}
	}
}

.page-header {
	color: $header-heading-color;
	text-align: center;
	background-color: $header-bg-color;
	//background-image: repeating-linear-gradient(
	//	45deg,
	//	transparent,
	//	transparent 10px,
	//	rgba($header-bg-color-tertiary, 0.5) 10px,
	//	rgba($header-bg-color-tertiary, 0.5) 11px
	//),linear-gradient(0deg, $header-bg-color, $header-bg-color-secondary);

	@include large {
		padding: 3rem 6rem 1rem;
	}

	@include medium {
		padding: 2rem 4rem 1rem;
	}

	@include small {
		padding: 2rem 1rem 0.5rem;
	}
}

.project-name {
	//margin-top: 0;
	//margin-bottom: 0.1rem;
	//text-shadow: 0px 0px 1px rgba($header-bg-color-tertiary, 0.7);
	//
	//
	//@include large {
	//	font-size: 3.25rem;
	//}
	//
	//@include medium {
	//	font-size: 2.25rem;
	//}
	//
	//@include small {
	//	font-size: 2rem;
	//}
	background: #000 url("/assets/images/logo.png") no-repeat 50% 50%;
	margin: 0 auto;
	padding: 0;
	background-size: contain;
	max-width: 64rem;
	height: 3em;
}

.project-tagline {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7;
	text-shadow: 0px 0px 1px rgba($header-bg-color, 0.7);


	@include large {
		font-size: 1.25rem;
	}

	@include medium {
		font-size: 1.15rem;
	}

	@include small {
		font-size: 1rem;
	}
}

.main-content {
	word-wrap: break-word;

	:first-child {
		margin-top: 0;
	}

	@include large {
		max-width: 64rem;
		padding: 2rem 6rem;
		margin: 0 auto;
	}

	@include medium {
		padding: 2rem 4rem;
	}

	@include small {
		padding: 2rem 1rem;
	}
	
	img {
		max-width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: normal;
		color: $section-headings-color;
	}

	p {
		margin-bottom: 1em;
	}

	ul,
	ol {
		margin-top: 0;
	}

	dl {
		padding: 0;

		dt {
			padding: 0;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: bold;
		}

		dd {
			padding: 0;
			margin-bottom: 1rem;
		}
	}

	hr {
		height: 2px;
		padding: 0;
		margin: 1rem 0;
		background-color: $hr-border-color;
		border: 0;
	}
}

.site-footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px $hr-border-color;

	@include large {
		font-size: 0.9rem;
	}

	@include medium {
		font-size: 0.9rem;
	}

	@include small {
		font-size: 0.8rem;
	}
}

.site-footer-owner {
	display: block;
	font-weight: normal;
}

.sr-only {
	@include visually-hidden()
}

.biog-img {
	float: left;
	margin: 0 1em 1em 0;
}
.concert-img {
	display:block;
	margin: 0 auto;
	max-width: 100%;
}